<div class="col-md-6">
  <h2 class="text-center">Add Queue</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="queueName">Queue Name:</label>
      <input formControlName="queueName" placeholder="Queue Name" name="queueName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="noOfMessage">Maximum Limit:</label>
      <input formControlName="noOfMessage" placeholder="Maximum Limit" name="noOfMessage" class="form-control" id="lastName">
    </div>

    <button class="btn btn-success">Add Queue</button>
  </form>
</div>
